.allArticles {
  width: 100%;
}

.form {
  padding: 1rem 0;
}

.form input {
  border: none;
  border: 1px solid #ccc;
  background-color: transparent;
  padding: 0.5rem;
  margin: 5px 0;
  width: 100%;
}

@media (min-width: 700px) {
  .allArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
} 
