.aboutContainer {
  width: 500px;
  margin: auto;
}

.aboutContainer h1 {
  font-size: 35px;
  margin: 30px 0 0 0;
  font-weight: 200;
  font-size: 30px;
  color: var(--blackColor);
  text-align: center;

}

.aboutContainer p {
  text-align: center;
}