.aside {
  margin: 0 1rem;
  padding: 0 1rem;
  height: 100%;
  position: sticky;
  top: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000034;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

.formSearch {
  display: flex;
}

.inputSearch {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #a33709;
  border-radius: 5px 0 0 5px;
  border-right: none;
  outline: none;
  color: #9DBFAF;
}

.inputSearch:focus{
  color: #a33709;
}

.btnSearch {
  width: 40px;
  height: 40px;
  border: 2px solid #a33709;
  background-color: #a33709;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.btnSearch path {
  color: #fff;
}

.selectOptions {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  background-color: #fff;
}

.errorSearch {
  width: 205.14px;
}

.asidePosts {
  padding: 0;
  list-style: none;
}

.asidePosts li {
  padding: 10px 0 ;
  border-bottom: 1px solid #a3370965;
  font-size: 14px;
}


@media (min-width: 600px) {
  .nav {
    display: flex;
    flex-direction: row;
  }

  .formSearch {
    width: 45%;
  }
  
  .selectOptions {
    width: 45%;
  }
} 

@media (min-width: 800px) {
  .nav {
    flex-direction: column;
  }

  .formSearch {
    width: 100%;
  }

  .selectOptions {
    width: 100%;
  }
}

