@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

.section {
  flex: 8;
}

.header {
  font-family: 'Quattrocento', serif, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #a33709;
  padding: 0.5rem 0;
  max-width: 400px;
  font-size: 20px;
  font-weight: 400;
  margin: 0.5rem 0;
}

.allArticles {
  padding: 0;
  flex: 1;
}

.aside {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  height: 100%;
  box-shadow: 0 0 10px #00000034;
  flex: 2;
}

.aside p {
  margin: 1rem;
}

.formSearch {
  display: flex;
}

.inputSearch {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #a33709;
  border-radius: 5px 0 0 5px;
  border-right: none;
  outline: none;
  color: #a33709;
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  font-weight: 700;
}

.inputSearch:focus{
  font-weight: 700;
}

.btnSearch {
  width: 40px;
  height: 40px;
  border: 2px solid #a33709;
  background-color: #a33709;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.btnSearch path {
  color: #fff;
}

.selectOptions {
  cursor: pointer;
  list-style: none;
  padding: 0;
}

.selectOptions h1 {
  font-family: 'Quattrocento', serif;
  color: #a33709;
}

.selectOptions li {
  border-bottom: 1px solid #a33709;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  font-weight: 600;
  font-family: 'Quattrocento', serif;
}

.errorSearch {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 8;
}

.errorSearch svg {
  font-size: 6rem;
}

.errorSearch path {
  color: #a33709;
}

.clearInput {
  display: flex;
  align-items: center;
  border: 0;
  background-color: #fff;
}

/* post card */

.card {
  list-style: none;
  padding: 20px 0;
}
.cardBox {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.cardBox img {
  width: 100%;
  height: auto;
  display: block;
}
.cardContent {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: linear-gradient(#00000000, #000);
  width: 100%;
  box-sizing: border-box;
}
.category {
  padding: 0.2rem 1rem;
  background-color: rgb(0, 156, 63);
  border-radius: 5px;
  font-weight: 600;
  color: white;
  font-size: 10px;
}
.cardTitle {
  color: #fff;
  margin: 0;
  font-size: 12px;
  margin: 1rem 0;
}
.publishData {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: italic;
  color: #ffffff9f;
  font-size: 10px;
}
.publishData path {
  color: #ffffff9f;
}
@media (min-width: 300px) {
  .cardTitle {
    font-size: 14px;
  }
  .publishData,
  .category {
    font-size: 12px;
  }
}
@media (min-width: 400px) {
  .cardContent {
    padding: 20px;
  }
  .cardTitle {
    font-size: 18px;
  }
  .publishData,
  .category {
    font-size: 16px;
  }
}
@media (min-width: 500px){
  .cardTitle {
    font-size: 20px;
  }
  .publishData,
  .category {
    font-size: 18px;
  }
}
@media(min-width: 610px){
  .card {
    flex: 1 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    box-sizing: border-box;
  }
  .cardContent {
    padding: 10px;
  }
  .cardTitle {
    font-size: 14px;
  }
  .publishData,
  .category {
    font-size: 12px;
  }
}
@media(min-width: 700px){
  .cardContent {
    padding: 20px;
  }
  .cardTitle {
    font-size: 16px;
  }
  .publishData,
  .category {
    font-size: 14px;
  }
}
@media (min-width: 800px) {
  .cardContent {
    padding: 10px;
  }
  .cardTitle {
    font-size: 13px;
  }
  .publishData,
  .category {
    font-size: 11px;
  }
}
@media(min-width: 900px){
  .cardTitle {
    font-size: 15px;
  }
  .publishData,
  .category {
    font-size: 13px;
  }
}
@media(min-width: 1000px){
  .cardContent {
    padding: 20px;
  }
  .cardTitle {
    font-size: 17px;
  }
  .publishData,
  .category {
    font-size: 15px;
  }
}

/* final ALL POSTS */

.clearInput p {
  color: #a33709;
  font-weight: 700;
  font-size: 1.2rem;
}

.clearInput svg {
  font-size: 2.5rem;
}

.clearInput path {
  color: #a33709;
}

.selected {
  font-size: 20px;
  color: #c18804;
}


@media (min-width: 400px) {
  .header {
    font-size: 26px;
  }
}

@media (min-width: 600px) {
  .allArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .formSearch {
    width: 45%;
  }

  .header {
    font-size: 36px;
  }
  
}

@media (min-width: 800px) {
  .main {
    display: flex;
    flex-direction: row;
  } 

  .aside {
    position: sticky;
    top: 60px;
  }

  .formSearch {
    width: 100%;
  }
}


