.containerClasses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  gap: 0.5rem;
  list-style: none;
  font-weight: 600;
}

.listClasses a {
  color: var(--blackcolor);
}

.activeClasses a {
  color: var(--strongblue);
  border-bottom: 1px solid var(--strongblue);
}
