.container {
  max-width: 1200px;
  margin: 0.5rem auto;
  padding: 0 1rem;
}

.containerClasses {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  font-size: 0.9rem;
  background-color: var(--background);
  border: 1px solid var(--yellowcolor);
}

.listClasses a {
  color: var(--blackcolor);
}

.activeClasses a {
  color: var(--strongblue);
  border-bottom: 1px solid var(--strongblue);
}
