.ul {
  list-style: none;
  padding: 1rem;
  background-color: var(--background);
  box-shadow: 3px 3px 0 var(--yellowcolor);
  position: sticky;
  top: 220px;
}

.ul h1 {
  font-family: 'Frank Ruhl Libre', serif;
  color: var(--strongblue);
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
}

.li {
  list-style: none;
  font-size: 16px;
  padding: 1rem 0;
  font-weight: 400;
  border-bottom: 1px solid var(--strongblue);
}