.nav {
  border-bottom: 1px solid #a33709;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 1000;
  height: 60px;
}

.navMenu {
  list-style: none;
  padding: 15px;
  margin: 0;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.brandName {
  display: flex;
}

.navLinksActive {
  border-bottom: 1px solid #9f3000dd;
  color: #9f3000dd;
}

@media (min-width: 350px) {
  .nav li {
    font-size: 18px;
  }
}


