.header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
  background-color: var(--background);
} 

.header img {
  height: 60px;
  width: 60px;
}

.header h1 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  background: linear-gradient(to right, #282728, #696969);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header img {
  font-size: 1rem;
}

.nav {
  position: sticky;
  top: 0px;
  background-color: var(--background);
  border-bottom: 1px solid var(--yellowcolor);
  z-index: 1000;
  width: 100%;
}

.nav li {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
}

.navMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 4rem;
}

.brandName {
  display: flex;
}

.navLinks {
  color: var(--blackcolor);
}

.navLinksActive {
  color: var(--strongblue);
  font-weight: 600;
  border-bottom: 1px solid var(--strongblue);
}

@media (min-width: 400px) {
  .nav li {
    font-size: 1rem;
  }
  .header img {
    height: 70px;
    width: 70px;
  }
  .header h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .navMenu {
    justify-content: center;
    gap: 3rem;
  }
  .header img {
    height: 80px;
    width: 80px;
  }
  .header h1 {
    font-size: 2frem;
  }
}


