@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Playpen+Sans:wght@600&display=swap');

:root {
  --background: #f5fafa;
  --strongblue: #117777;
  --browncolor: #B5460F;
  --bluecolor: #E2F3F3;
  --blackcolor: #282728;
  --whitecolor: #FFFFFF;
  --yellowcolor: #ffd977;
  --yellowcolorhover: #ffc637;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: var(--blackcolor);
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

body {
  margin: 0;
  padding: 0;
}

blockquote {
  font-size: 1.4em;
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding: 1.2em 20px 1.2em 48px;
  padding:1.2em 1px 1.2em 45px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

ul {
  margin: 0;
}

p {
  margin: 10px 0;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#c07898;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

mark {
  background-color: #60e09796;
}

button {
  transition: opacity .3s;
  text-decoration: none;
  &:focus,
  &:hover {
    opacity: .5;
  }
}

a {
  text-decoration: none;
}

img {
  border-radius: 3px;
}

.myAside {
  
  margin: 2rem 0;
}

@media (min-width: 800px) {
  .myMain {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .children {
    flex: 8;
  }

  .myAside {
    flex: 2;
  }
}

