.header {
  border-bottom: 1px solid var(--strongblue);
  max-width: 800px;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 2rem 0;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.cardLink {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 0 var(--yellowcolor);
  background-color: var(--background);
}

.cardLink img {
  border-radius: 0;
}

.cardLink:hover {
  box-shadow: 5px 5px 0 var(--yellowcolorhover);
}

.cardContent {
  padding: 20px;
  box-sizing: border-box;
}

.category {
  font-size: 14px;
  font-weight: 600;

  padding: 0.1rem 0.8rem;
  border-radius: 5px;
  background-color: var(--browncolor);
  color: var(--whitecolor);
}

.cardTitle {
  margin: 0;
  font-size: 18px;
  margin: 1rem 0;

}
.cardTitle:hover {
  text-decoration: underline;
}

.publishData {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: italic;
  font-size: 12px;
}

.publishData path {
  color: var(--strongblue);
}

@media (min-width: 400px) {
  .cardContent {
    padding: 20px;
  }

  .header {
    font-size: 1.4rem;
  }
}

@media (min-width: 500px){
  .cardTitle {
    font-size: 18px;
  }
  .publishData {
    font-size: 12px;
  }
  .category {
    font-size: 16px;
  }
}

@media(min-width: 600px) {
  .header {
    font-size: 2rem;
  }
  
  .cardContent {
    padding: 10px;
  }
  
  .cardTitle {
    font-size: 18px;
  }

  .publishData,
  .category {
    font-size: 16px;
  }

  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 700px){
  .cardContent {
    padding: 20px;
  }

  .cardTitle {
    font-size: 16px;
  }
  .publishData,
  .category {
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  .cardContent {
    padding: 10px;
  }

  .cardTitle {
    font-size: 13px;
  }

  .publishData,
  .category {
    font-size: 11px;
  }

  .article {
    flex: 7.5;
  }
}

@media(min-width: 900px){
  .cardTitle {
    font-size: 15px;
  }
  .publishData,
  .category {
    font-size: 13px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1000px){
  .cardContent {
    padding: 20px;
  }

  .cardTitle {
    font-size: 17px;
  }
  .publishData,
  .category {
    font-size: 15px;
  }
}