.homeContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeContainer h1 {
  text-align: center;
  padding: 10px;
  font-size: 42px;
  background: linear-gradient(to right, #9b9b9b, #282728);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linksList {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 20px;
}

.postLink {
  background-color: var(--backGround);
  border: 1px solid var(--blackColor);
  padding: 10px;
  border-radius: 8px;
  color: var(--blackColor);
}

.aboutLink {
  background-color: var(--blackColor);
  padding: 10px;
  border-radius: 8px;
  color: var(--backGround);
}