.container {
  padding: 1rem;
  background-color: var(--background);
  border: 1px solid var(--yellowcolor);
  border-radius: 20px 20px 20px 0;
}

.container h1 {
  margin: 0 0 1rem 0;
  font-family: 'Frank Ruhl Libre', serif;
  color: var(--strongblue);
  font-size: 1.3rem;
}

.formSearch {
  display: flex;
}

.inputSearch {
  width: 100%;
  padding: 0.4rem;
  border: 2px solid var(--strongblue);
  border-radius: 5px 0 0 5px;
  border-right: none;
  outline: none;
  color: var(--strongblue);
  font-size: 1rem;
}

.btnSearch {
  width: 40px;
  height: 40px;
  border: 2px solid var(--strongblue);
  background-color: var(--strongblue);
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.btnSearch path {
  color: var(--whitecolor);
}

@media (min-width: 800px) {
  .container {
    flex: 2.5;
    position: sticky;
    top: 80px;
  }
}