.postsContainer {
  border-bottom: 2px dashed var(--border);
  padding: 20px 0;
}

.postLink {
  font-size: 16px;
  color: var(--blueColor);
  text-decoration: underline;
}

.publishData {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: italic;
  color: #0000009f;
  margin: 1rem 0;
}

.publishData path {
  color: #0000009f;
}

.postDate {
  display: flex;
  gap: 10px;
  font-style: italic;
  color: #0000009f;
  padding-bottom: 10px;
}

.postDate path {
  color: #0000009f;
}

.postDate svg {
  margin: auto 0;
  font-size: 19px;
}

@media (min-width: 400px) {
  .postLink {
    font-size: 20px;
  }
}

@media (min-width: 700px) {
  .postsContainer {
    width: 300px;
  }

  .postLink {
    font-size: 16px;
  }
}

@media (min-width: 848px) {
  .postsContainer {
    width: 300px
  }
}