.footerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #03142E;
  border-top: 1px solid var(--yellowcolor);
}

.brandContainer {
  text-align: center;
  margin: 1rem;
}

.brandContainer h1 {
  color: var(--whitecolor);
  font-family: 'Playpen Sans', cursive;
}

.footerParagraph {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  color: var(--whitecolor);
}

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navContainer h1 {
  font-family: 'Frank Ruhl Libre', serif;
  color: var(--whitecolor);
  text-align: center;
  font-size: 1.6rem;
}

.navList {
  padding: 1rem;
  margin: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.navList li {
  color: var(--whitecolor);
}

.navLinksActive {
  border-bottom: 1px solid #9f3000dd;
  color: #9f3000dd;
}

@media (min-width: 800px) {
  .footerContainer {
    flex-direction: row;
    justify-content: space-evenly;

  }

  
}

@media (min-width: 1200px) {

  .footerContainer {
    display: flex;
    align-items: center;
  }

  
}
