.footerContainer {
  height: 100%;
  background-color: var(--background);
  border-top: 1px solid var(--yellowcolor);
  margin: 3rem 0 0 0;
}

.header {
  text-align: center;
  margin: 1rem auto;
  max-width: 300px;
}

.footerParagraph {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.navList {
  padding: 1rem;
  margin: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.navLinksActive {
  border-bottom: 1px solid #9f3000dd;
  color: #9f3000dd;
}

@media (min-width: 900px) {
  .navList {
    width: 400px;
  }

  .footerContainer {
    display: flex;
    align-items: center;
  }

  .header {
    width: 300px;
  }
}