.main {
  
}

.allArticles {
  width: 100%;
}

.aside {
  padding: 2rem;
}

.aside form {
  position: sticky;
  top: 20px;
} 

.aside input {
  border: none;
  border: 1px solid #ccc;
  background-color: transparent;
  padding: 0.5rem;
  margin: 5px 0;
}

@media (min-width: 700px) {
  .allArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
} 

@media (min-width: 900px) {
  .main {
    display: flex;
  }
}