.postContent{
  padding: 23px 0;
  display: flex;
  flex-direction: column;
}

.postContent p {
  line-height: 2rem;
}



.postTitle {
  font-size: 28px;
  font-weight: 700; 
  color: #a33709;
}

.postDate {
  display: flex;
  gap: 10px;
  font-style: italic;
  color: #0000009f;
  padding-bottom: 10px;
}

.postDate path {
  color: #0000009f;
}

.postDate svg {
  margin: auto 0;
  font-size: 19px;
}

@media (min-width: 800px) {
  .postContent {
    flex-direction: row;
  } 
}